
/*This Contains the CSS that definaes the page level CSS.
All CSS which are generic and will effect how all the elements will look should be put here.
This page acts like a Framework for futher Development.
*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;

  box-sizing: border-box;
}
html {
  font-size: 62.5%;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1, h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
}

h1  {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

article {
    padding:20px;
}
a {
    color: #428bca;
    text-decoration: none;
}
small {
    color: #999;
    line-height: 1em;
    display: block;
    font-size: 11px !important;
    font-weight: normal;
    padding-top: 2px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.alignCenter {
    text-align: center;
}

.tableCell {
    display: table-cell;
    vertical-align: middle;
}

.floatRight {
    float : right;
}

.floatLeft {
    float : left;
}

.clearfix {
  display: block;
}

.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius: 0;
    top: 0;
    border-width: 0 0 1px;
}

.navbar-inverse {
    background-color: #222;
    border-color: #080808;
}

.navbar-inverse .navbar-toggle {
    border-color: #333;
}


.navbar-brand {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #999;
}

.navbar-collapse {
    max-height: 340px;
    width: auto;
    border-top: 0;
    box-shadow: none;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-fixed-top .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.navbar-inverse .navbar-collapse {
    border-color: #101010;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav{
    float: left;
    margin: 0;
}

.nav > li {
position: relative;
display: block;
}

.navbar-nav > li {
float: left;
}

.nav > li > a {
position: relative;
display: block;
padding: 10px 15px;
line-height: 20px;
padding-top: 15px;
padding-bottom: 15px;
}
.navbar-inverse .navbar-nav > li > a {
color: #999;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
color: #fff;
background-color: #080808;
}